@import "../main-scss/helpers";

.projects-nav {

  position:fixed;
  padding-top: 20px;
  width: calc(.15 * 105em - 40px);
  min-width: 180px;
  max-width: 240px;
  z-index: 102;

  .back-nav {
    color: white;
    cursor:default;
    height: 4rem;

    img {
      width: 1.3em;
      height:1.3em;
      margin: 20px 0;
      float: right;
    }

    h3 {
      margin-top:20px;
      float:right;
    }
  }

  .back-nav.back-nav-color {
    color: #1f1f1f;
    cursor:pointer;

    img {
      filter: invert(88%) sepia(1%) saturate(2264%) hue-rotate(2deg) brightness(87%) contrast(97%) opacity(66%);
    }
  }

  .back-nav.back-nav-color:hover {
    color: #1f1e1c99;

    h3{
      margin-right: 3px;
    }
  }

  .card {
    width: 100%;

    .component {
      width: 100%;
    }
  }

  .projects-highlight {
    color: #1f1e1ccc;
    background-image: linear-gradient(to right,
            #e8e8e800,
            #0057A755 100%);
  }

  .projects-new img {
    @include set-size-rem-safe(1.25rem, 1.25rem);
  }

}