@import "../helpers";
@import "../definitions";

.top-nav {
  position:relative;
  @include set-rem-safe(height, 4rem);
}

.back-nav {
  svg {
    @include set-rem-safe(margin-top, 1.25rem);
    float: right;
  }

  h3 {
    @include set-rem-safe(margin-top, 1.35rem);
    float:right;
  }
}

.course-repository-info {
  position:absolute;
  bottom:5px;
}

.side-nav-left {
  float:right;
  width: 100%;
  min-width: 180px;
  max-width: 240px;
  margin-bottom: 32px;
}

.side-nav-right {
  float:left;
  width: 100%;
  min-width: 180px;
  max-width: 240px;
  margin-bottom: 32px;
}

.nav {
  cursor: default;
  position: fixed;
  top:0;
  left: 0;
  width:100%;
  @include set-rem-safe(height, 3rem);
  background: #1f1e1c;

  .nav-title {
    position: fixed;
    top:0;
    left: 0;
    width:100%;
    @include set-rem-safe(font-size, 2rem);
    text-align: center;
    margin: auto;
    font-family: "Rhodium Libre", serif;
    z-index: 1;

    .nav-en {
      cursor:pointer;
      color: white;
    }
    .nav-course {
      cursor:pointer;
      color: #0057A7;
    }
  }

  .nav-options {
    float: right;
    position:relative;

    @include set-rem-safe(width, 6rem);
    z-index: 2;

    div {
      float:left;
      @include set-size-rem-safe(3rem, 3rem);
      padding: 8px;
      padding: .5rem;
      svg.icon {
        width: 100%;
        height: 100%;

        path {
          fill:white;
        }
      }
    }

    div:hover svg.icon path {
      fill: #ffffffcc;
    }
  }
}