@import "../helpers";

.projects-nav {

  .top-nav {
    img {
      @include set-size-rem-safe(1.5rem, 1.5rem);
      @include set-rem-safe(margin-top, 1.25rem);
      float: right;
    }

    h3 {
      @include set-rem-safe(margin-top, 1.35rem);
      float:right;
    }
  }

  .card {
    width: 100%;

    .component {
      width: 100%;
    }
  }

  .projects-highlight {
    color: #1f1e1ccc;
    background-image: linear-gradient(to right, #e8e8e800, #0057A755 100%);
  }

  .projects-new img {
    @include set-size-rem-safe(1.25rem, 1.25rem);
  }

}