@import "../helpers";

div.break-line {
  width: 100%;
  height: 1px;
  background-color: #e8eaed;
}

div.h1 {
  @include set-rem-safe(margin-top, 2rem);
  @include set-rem-safe(margin-bottom, 2rem);
}

div.h2 {
  @include set-rem-safe(margin-top, 1.625rem);
  @include set-rem-safe(margin-bottom, 1.625rem);
}

div.h3 {
  @include set-rem-safe(margin-top, 1.25rem);
  @include set-rem-safe(margin-bottom, 1.25rem);
}

div.h4 {
  @include set-rem-safe(margin-top, .875rem);
  @include set-rem-safe(margin-bottom, .875rem);
}

div.h5 {
  @include set-rem-safe(margin-top, .5rem);
  @include set-rem-safe(margin-bottom, .5rem);
}

div.break-line.header {
  margin-top: 0;
}