@import "../helpers";
@import "../definitions";

.card {
  position:relative;
  width: 100%;
}

.component {
  width: 100%;
  @include set-rem-safe(padding, 1rem);
  border: 1px $card-border-color solid;
  box-shadow: 1px 2px 3px rgba(0, 0, 0, .16);
  background: #fbfbfb;
}

.overflow {
  overflow-y: hidden;
  overflow-x: hidden;
  width: calc(100% - 8px);
}

.overflow:hover {
  width: 100%;
  overflow-y: scroll;
}

.overflow:hover::-webkit-scrollbar {
  width: 8px;
}

.overflow:hover::-webkit-scrollbar-thumb {
  background: #666;
}