@import "../helpers";
@import "../definitions";

.card {
  position:relative;
  width: 100%;
}

.component {
  width: 100%;
  @include set-rem-safe(padding, 1rem);
  border: 1px $card-border-color solid;
  background: #fbfbfb;
  position:relative;

  .card-select {
    position:absolute;
    top: 0;
    right: 0;

    display: none;
  }

}

.card:hover .card-select, .card .card-select.selectable {
  display: block;
}

.card .card-select:hover > div {
  border: 1px $input-border-color-hover solid;
}

.overflow {
  overflow-y: hidden;
  overflow-x: hidden;
  width: calc(100% - 8px);
}

.overflow:hover {
  width: 100%;
  overflow-y: scroll;
}

.overflow:hover::-webkit-scrollbar {
  width: 8px;
}

.overflow:hover::-webkit-scrollbar-thumb {
  background: #666;
}