@import "../helpers";
@import "../definitions";

.checkbox {
  @include set-size-rem-safe(1.5rem, 1.5rem);
  @include set-rem-safe(padding, .25rem);
  display: inline-block;
  cursor: pointer;
}

.checkbox-value {
  background: white;
  border: 1px $input-border-color solid;
  width: 100%;
  height: 100%;

  svg.icon {
    width: 100%;
    height: 100%;
    padding: 1px;
  }
}

.checkbox:hover .checkbox-value {
  border: 1px $input-border-color-hover solid;
}