@import "../helpers";
@import "../definitions";

.exit-nav {
  position: relative;
  height: 1.5em;
  width: 1.5em;
  padding: .5em;

  cursor: pointer;

  img {
    position:absolute;
    top: .5em;
    left: .5em;
    z-index: 2;
    filter: $icon-color;
    width: 1.5em;
    height: 1.5em;
  }
}

.exit-nav:hover img {
  filter: $icon-hover-color;
}