.text-list div:not(.break-line) {
  padding: 12px 0 12px 12px;
  width: 100%;
}

.text-list div.svg-icon {
  padding-right: 12px;

  svg.icon {
    margin: 0 auto;
    display: block;
  }
}

.summary-preview {
  div.stat {
    padding: 4px 0;
  }
  div.stat:nth-child(2n) {
    padding-bottom: 8px;
  }
}

div.stat {
  padding: 4px 0 4px;

  h5:first-child {
    width:auto;
    float:left;
  }

  h5:nth-child(2) {
    width: auto;
    float:right;
  }
}

div.stat.break {
  padding-bottom: 12px;
}