@import "../helpers";
@import "../definitions";

.exit-nav {
  position: relative;
  float: right;
  height: 2.5em;
  width: 2.5em;
  padding: .5em;

  cursor: pointer;

  img {
    position:absolute;
    top: .5em;
    left: .5em;
    z-index: 2;
    filter: invert(88%) sepia(1%) saturate(2264%) hue-rotate(2deg) brightness(87%) contrast(97%) opacity(66%);
    width: 1.5em;
    height: 1.5em;
  }
}

.exit-nav:hover img {
  filter: invert(88%) sepia(1%) saturate(2264%) hue-rotate(2deg) brightness(87%) contrast(97%) opacity(90%);
}

.modal {
  position:absolute;
  z-index: 101;
  top: 0;
  left: 0;
  width:100%;
  height:100%;
}

.modal-left {
  position: fixed;
  float: left;
  margin-left: 13.5%;

  margin-top: calc(20px + 40px + 1.17em);
}

.modal-center {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -75%);

  margin-top: calc(20px + 40px + 1.17em);
}

.modal .component:after {
  @include float-height
}

.modal-container {
  float:left;
}

.modal-buttons {
  width: calc(100% + 40px);
  width: calc(100% + 2rem + 8px);

  img {
    @include set-size-rem-safe(1.5rem, 1.5rem);
    display:block;
    filter: $icon-color;
  }

  div {
    float:right;
    padding: 8px;
  }
}

.modal-overlay {
  position:fixed;
  @include set-rem-safe(top, 3rem);
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -100;

  //TODO animation
  -webkit-transition: background-color .15s ease-in;
  -moz-transition: background-color .15s ease-in;
  -ms-transition: background-color .15s ease-in;
  -o-transition: background-color .15s ease-in;
  transition: background-color .15s ease-in;
}

.modal-overlay.show {
  z-index: 100;
  background-color:rgba(black, .2);
}