@import "../helpers";
@import "../definitions";

.nav {
  cursor: default;
  position: fixed;
  top:0;
  left: 0;
  width:100%;
  height: 3em;
  padding: .5em 0;
  z-index: 0;
  background: #1f1e1c;

  .nav-list {
    position: fixed;
    top:0;
    left: 0;
    width:100%;
    height:3em;
    font-family: "Rhodium Libre", serif;
    margin: 0;

    overflow: hidden;
    z-index: 10;
  }

  .nav-title {
    position: fixed;
    top:0;
    left: 0;
    width:100%;
    font-size: 2em;
    text-align: center;
    margin: auto;
    font-family: "Rhodium Libre", serif;
    z-index: 1;

    .nav-en {
      color: white;
    }
    .nav-course {
      color: #0057A7;
    }
  }

  .nav-options {
    float: right;
    display: flex;
    position:relative;

    width: 6em;
    cursor: pointer;
    z-index: 10;

    .nav-settings {
      float:right;
      @include set-size-rem-safe(3rem, 3rem);
      padding: .5em .5em;

      img {
        width: 100%;
        height: 100%;
      }
    }

    .nav-logout {
      float:right;
      @include set-size-rem-safe(3rem, 3rem);
      padding: .5em .5em;

      img {
        width: 100%;
        height: 100%;
      }
    }
  }
}