@import "../helpers";

/* rhodium-libre-regular - latin */
.panel {
  position:fixed;
  left: 0;
  @include set-rem-safe(top, 3rem);
  height: calc(100% - 48px);
  height: calc(100% - 3rem);
  width: 100%;
  font-family: "Raleway", "Rhodium Libre", sans-serif;
  color: #1f1f1f;
  overflow: auto;
  text-align:left;
}

.panel::-webkit-scrollbar {
  width: .5em;
}

.panel::-webkit-scrollbar-thumb {
  background: #666;
}

.panel-container {
  position:relative;
  width: 100%;
  padding: 32px 16px;
  padding: 2rem 1rem;

  > div:after {
    @include float-height;
  }
}

.panel-left-nav {
  position:fixed;
  left: 0;
  width: 15%;
  padding: 0;
  margin: 0;
}

.panel-left-nav:after {
  @include float-height;
}

.panel-center-content {
  position:relative;
  left: 15%;
  width: 85%;
  height: 100%;
  margin: 0;
  padding: 0 20px;
}

.panel-right-nav {
  position:fixed;
  left: 50%;
  @include transform(translate(233%, 0));
  @include set-rem-safe(max-width, 15.75rem);
  width: 15%;
  padding: 0;
  margin: 0;
}

.panel-right-nav:after {
  @include float-height;
}