@import "../definitions";

.progress-bar {
  border: 1px solid $input-border-color;
  width: 100%;
  height: 1em;
  position: relative;

  div {
    padding: 1px;
    width: 0;
    height: 100%;
    background: #4caf50;
  }
}