@import "../helpers";

.summary-container {
  .float-height {
    > div {
      float:left;
      @include set-rem-safe(padding, .75rem);
    }
  }

  .cols-5 {

    > div {
      @include set-rem-safe(width, 14.1875rem);
    }
  }

  .cols-2 {
    > div {
      width: 50%;
    }
  }

  .summary-preview {
      position: relative;
      @include set-rem-safe(height, 7.5rem);
      padding: 5.5px;

    .preview-content {
      margin-bottom: 10px;

      h5 {
        margin-bottom: 5px;
        display:block;
      }
    }
  }
}