@import "../helpers";
@import "../definitions";

div.title {

  position:relative;

  h1, h2, h3, h4, h5, h6 {
    margin: 0;
    width: 100%;
  }

  svg.icon {
    position: absolute;
    top: 0;
    right: 0;
    @include set-size-rem-safe(1rem, 1rem);
  }

}