.projects-nav {

  .projects-title {
    position: relative;
    padding-top: 1em;
    height: 1.5em;
    cursor: pointer;

    h3 {
      position:relative;
      width: 100%;
      z-index:1;
      margin: 0;
    }

    img {
      position:absolute;
      top: 0;
      right: 0;
      z-index: 2;
      filter: invert(88%) sepia(1%) saturate(2264%) hue-rotate(2deg) brightness(87%) contrast(97%) opacity(66%);
      width: 1em;
      height: 1em;
    }
  }

  .projects-title:hover {
    background-image: linear-gradient(to right,
            #e8e8e800,
            #0057A755 100%);

    h3 {
      color: #1f1e1ccc;
    }

    img {
      filter: invert(88%) sepia(1%) saturate(2264%) hue-rotate(2deg) brightness(87%) contrast(97%) opacity(90%);
    }
  }

  h4 {
    margin: 0;
    padding: .75em 0 .75em .75em;
    width: calc(100% - .75em);
    cursor: pointer;
  }

  h4:hover {
    color: #1f1e1ccc;
    background-image: linear-gradient(to right,
            #e8e8e800,
            #0057A755 100%);
  }

}