@import "ProjectNavigation";

.panel-project-options {
  float:left;

  .header {
    cursor: default;
  }

  .modal-buttons {
    div:first-child {
    }

    div.project-options-sync {
    }

    div.project-options-add {
    }

    div:first-child:hover {
    }

    div.project-options-sync:hover {
    }

    div.project-options-add:hover {
    }
  }
}