@mixin box-sizing($box-model) {
  box-sizing: $box-model;
  -moz-box-sizing: $box-model;
  -webkit-box-sizing: $box-model;
}

@function to-rem($size) {
  $remSize: $size / 16px;
  @return #{$remSize}rem;
}

@mixin font-size($val) {
  font-size: $val + px;
  font-size: to-rem($val) + rem;
}

@mixin keyframes($animation-name) {
  @-webkit-keyframes #{$animation-name} {
    @content;
  }
  @-moz-keyframes #{$animation-name} {
    @content;
  }
  @-ms-keyframes #{$animation-name} {
    @content;
  }
  @-o-keyframes #{$animation-name} {
    @content;
  }
  @keyframes #{$animation-name} {
    @content;
  }
}

@mixin animation($str) {
  -webkit-animation: #{$str};
  -moz-animation: #{$str};
  -ms-animation: #{$str};
  -o-animation: #{$str};
  animation: #{$str};
}