@function is-number($value) {
  @return type-of($value) == 'number';
}

@function to-rem($val) {
  $remVal: $val / 16px;
  @return #{$remVal}rem;
}

@function is-rem($val) {
  @return is-number($val) and unit($val) == 'rem';
}

@mixin set-rem-safe($prop, $val) {
  @if is-rem($val) {
    #{$prop}: #{($val / 1rem) * 16}px;
    #{$prop}: $val;
  }
  @else {
    #{$prop}: $val;
    #{$prop}: to-rem($val);
  }
}

@mixin set-size-rem-safe($width, $height) {
  @include set-rem-safe(width, $width);
  @include set-rem-safe(height, $height);
}

@mixin box-sizing($box-model) {
  box-sizing: $box-model;
  -moz-box-sizing: $box-model;
  -webkit-box-sizing: $box-model;
}

@mixin keyframes($animation-name) {
  @-webkit-keyframes #{$animation-name} {
    @content;
  }
  @-moz-keyframes #{$animation-name} {
    @content;
  }
  @-ms-keyframes #{$animation-name} {
    @content;
  }
  @-o-keyframes #{$animation-name} {
    @content;
  }
  @keyframes #{$animation-name} {
    @content;
  }
}

@mixin animation($str) {
  -webkit-animation: #{$str};
  -moz-animation: #{$str};
  -ms-animation: #{$str};
  -o-animation: #{$str};
  animation: #{$str};
}

@mixin transform($str) {
  -webkit-transform: #{$str};
  -moz-transform: #{$str};
  -ms-transform: #{$str};
  -o-transform: #{$str};
  transform: #{$str};
}

@mixin user-select($str) {
  user-select: #{$str};
  -webkit-user-select: #{$str};
  -moz-user-select: #{$str};
  -ms-user-select: #{$str};
}

@mixin float-height() {
  content: "";
  display: block;
  height: 0;
  clear: both;
}