@import "helpers";

*,
*:before,
*:after {
  @include box-sizing(border-box);
  padding: 0;
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  display:inline-block;
  -webkit-font-smoothing: antialiased;
}

h1 {
  cursor:default;
  @include set-rem-safe(font-size, 2rem);
  @include set-rem-safe(line-height, 2rem);
}

h1.header {
  @include set-rem-safe(line-height, 4rem);
}

h2 {
  cursor:default;
  @include set-rem-safe(font-size, 1.5rem);
  @include set-rem-safe(line-height, 1.5rem);
}

h2.header {
  @include set-rem-safe(line-height, 3rem);
}

h3 {
  cursor:default;
  @include set-rem-safe(font-size, 1.17rem);
  @include set-rem-safe(line-height, 1.17rem);
}

h3.header {
  @include set-rem-safe(line-height, 2.24rem);
}

h4 {
  cursor:default;
  @include set-rem-safe(font-size, 1rem);
  @include set-rem-safe(line-height, 1rem);
}

h4.header {
  @include set-rem-safe(line-height, 2rem);
}

h5 {
  cursor:default;
  @include set-rem-safe(font-size, .83rem);
  @include set-rem-safe(line-height, .83rem);
}

h5.header {
  @include set-rem-safe(line-height, 1.66rem);
}

h6 {
  cursor:default;
  @include set-rem-safe(font-size, .67rem);
  @include set-rem-safe(line-height, .67rem);
}

h6.header {
  @include set-rem-safe(line-height, 1.34rem);
  @include set-rem-safe(height, 1.34rem);
}

.h1-size {
  @include set-rem-safe(font-size, 2rem);
}

.h2-size {
  @include set-rem-safe(font-size, 1.5rem);
}

.h3-size {
  @include set-rem-safe(font-size, 1.33rem);
}

.h4-size {
  @include set-rem-safe(font-size, 1rem);
}

.h5-size {
  @include set-rem-safe(font-size, .83rem);
}

.h6-size {
  @include set-rem-safe(font-size, .67rem);
}

.float-height:after {
  content: "";
  display: block;
  height: 0;
  clear: both;
}

input {
  width: 100%;
  font-family: "Raleway", "Rhodium Libre", sans-serif;
}

li {
  list-style: none outside none;
  outline: none;
  width: 100%;
}

.loading {
  @include set-size-rem-safe(1.5rem, 1.5rem);
}

.loading svg {
  position:absolute;
  top: 50%;
  left: 50%;
  @include transform(translate(-50%, -50%))
}

@import "main/action";
@import "main/breakline";
@import "main/card";
@import "main/chart";
@import "main/checkbox";
@import "main/dropdown";
@import "main/exit";
@import "main/filter";
@import "main/image";
@import "main/list";
@import "main/modal";
@import "main/panel";
@import "main/progress-bar";
@import "main/summary";
@import "main/title";

@import "navigation/actions-nav";
@import "navigation/nav";
@import "navigation/list-nav";

@import "panel/course";
@import "panel/project";
@import "panel/student";
@import "panel/preferences";