
.panel-student-content {
  -webkit-transition: filter .15s ease-in;
  -moz-transition: filter .15s ease-in;
  -ms-transition: filter .15s ease-in;
  -o-transition: filter .15s ease-in;
  transition: filter .15s ease-in;
}