### Secrets ###
src/main/resources/application-secret.properties
pgdb_password.txt
pgdb_user.txt
src/main/java/edu/purdue/cs/encourse/security/StartupFeed.java

### Default ###
/target/
!.mvn/wrapper/maven-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/build/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### Python ###
/src/main/python/test_datasets/
*.swp
