*,
*:before,
*:after {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  padding: 0;
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

h1 {
  cursor: default;
  font-size: 32px;
  font-size: 2rem;
  line-height: 32px;
  line-height: 2rem;
  height: 32px;
  height: 2rem;
}

h1.header {
  line-height: 64px;
  line-height: 4rem;
  height: 64px;
  height: 4rem;
}

h2 {
  cursor: default;
  font-size: 24px;
  font-size: 1.5rem;
  line-height: 24px;
  line-height: 1.5rem;
  height: 24px;
  height: 1.5rem;
}

h2.header {
  line-height: 48px;
  line-height: 3rem;
  height: 48px;
  height: 3rem;
}

h3 {
  cursor: default;
  font-size: 18.72px;
  font-size: 1.17rem;
  line-height: 18.72px;
  line-height: 1.17rem;
  height: 18.72px;
  height: 1.17rem;
}

h3.header {
  line-height: 35.84px;
  line-height: 2.24rem;
  height: 35.84px;
  height: 2.24rem;
}

h4 {
  cursor: default;
  font-size: 16px;
  font-size: 1rem;
  line-height: 16px;
  line-height: 1rem;
  height: 16px;
  height: 1rem;
}

h4.header {
  line-height: 32px;
  line-height: 2rem;
  height: 32px;
  height: 2rem;
}

h5 {
  cursor: default;
  font-size: 13.28px;
  font-size: 0.83rem;
  line-height: 13.28px;
  line-height: 0.83rem;
  height: 13.28px;
  height: 0.83rem;
}

h5.header {
  line-height: 26.56px;
  line-height: 1.66rem;
  height: 26.56px;
  height: 1.66rem;
}

h6 {
  cursor: default;
  font-size: 10.72px;
  font-size: 0.67rem;
  line-height: 10.72px;
  line-height: 0.67rem;
  height: 10.72px;
  height: 0.67rem;
}

h6.header {
  line-height: 21.44px;
  line-height: 1.34rem;
  height: 21.44px;
  height: 1.34rem;
}

.h2-size {
  font-size: 24px;
  font-size: 1.5rem;
}

.h3-size {
  font-size: 21.28px;
  font-size: 1.33rem;
}

.float-height:after {
  content: "";
  display: block;
  height: 0;
  clear: both;
}

input {
  width: 100%;
  font-family: "Raleway", "Rhodium Libre", sans-serif;
}

div.action {
  cursor: pointer;
}

div.action * {
  cursor: pointer;
}

div.action:hover h1, div.action:hover h2, div.action:hover h3, div.action:hover h4, div.action:hover h5, div.action:hover h6 {
  color: rgba(31, 30, 28, 0.6);
  padding: 0 3px;
}

div.action:hover img.svg-icon {
  filter: invert(88%) sepia(1%) saturate(2264%) hue-rotate(2deg) brightness(87%) contrast(97%) opacity(90%);
}

div.break-line {
  width: 100%;
  height: 1px;
  background-color: #a4a4a4;
}

div.h1 {
  margin: 30px 0;
}

div.h2 {
  margin: 25px 0;
}

div.h3 {
  margin: 20px 0;
}

div.h4 {
  margin: 15px 0;
}

div.h5 {
  margin: 10px 0;
}

div.break-line.header {
  margin-top: 0;
}

.card {
  position: relative;
  height: auto;
  width: 100%;
}

.component {
  width: 100%;
  height: auto;
  padding: 16px;
  background-color: #f8f8f8;
  border-radius: 4px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.card-overflow {
  overflow-y: scroll;
  overflow-x: hidden;
}

.card-overflow::-webkit-scrollbar {
  width: 8px;
}

.card-overflow::-webkit-scrollbar-thumb {
  background: #666;
}

.chart-container {
  position: relative;
  width: 100%;
  padding: 25%;
}

.chart-container > div {
  position: absolute !important;
  top: 0;
  left: 0;
}

.exit-nav {
  position: relative;
  height: 1.5em;
  width: 1.5em;
  padding: .5em;
  cursor: pointer;
}

.exit-nav img {
  position: absolute;
  top: .5em;
  left: .5em;
  z-index: 2;
  filter: invert(88%) sepia(1%) saturate(2264%) hue-rotate(2deg) brightness(87%) contrast(97%) opacity(66%);
  width: 1.5em;
  height: 1.5em;
}

.exit-nav:hover img {
  filter: invert(88%) sepia(1%) saturate(2264%) hue-rotate(2deg) brightness(87%) contrast(97%) opacity(90%);
}

img.svg-icon {
  filter: invert(88%) sepia(1%) saturate(2264%) hue-rotate(2deg) brightness(87%) contrast(97%) opacity(66%);
}

.text-list div:not(.break-line) {
  padding: 12px 0 12px 12px;
  width: 100%;
}

.text-list div.svg-icon {
  padding-right: 12px;
}

.text-list div.svg-icon img {
  margin: 0 auto;
  display: block;
}

.exit-nav {
  position: relative;
  float: right;
  height: 2.5em;
  width: 2.5em;
  padding: .5em;
  cursor: pointer;
}

.exit-nav img {
  position: absolute;
  top: .5em;
  left: .5em;
  z-index: 2;
  filter: invert(88%) sepia(1%) saturate(2264%) hue-rotate(2deg) brightness(87%) contrast(97%) opacity(66%);
  width: 1.5em;
  height: 1.5em;
}

.exit-nav:hover img {
  filter: invert(88%) sepia(1%) saturate(2264%) hue-rotate(2deg) brightness(87%) contrast(97%) opacity(90%);
}

.modal {
  position: absolute;
  z-index: 101;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.modal-left {
  position: fixed;
  float: left;
  margin-left: 13.5%;
  margin-top: calc(20px + 40px + 1.17em);
}

.modal-center {
  position: fixed;
  left: 50%;
  transform: translate(-50%, 0);
  margin-top: calc(20px + 40px + 1.17em);
}

.modal-buttons {
  position: relative;
  bottom: 0;
  right: -2.5em;
  width: 100%;
}

.modal-buttons img {
  width: 24px;
  width: 1.5rem;
  height: 24px;
  height: 1.5rem;
  margin: 0 auto;
  display: block;
  filter: invert(88%) sepia(1%) saturate(2264%) hue-rotate(2deg) brightness(87%) contrast(97%) opacity(66%);
}

.modal-buttons div {
  cursor: pointer;
  float: right;
  padding: 10px 10px;
  margin-left: 10px;
}

.modal-buttons div:hover img {
  filter: invert(88%) sepia(1%) saturate(2264%) hue-rotate(2deg) brightness(87%) contrast(97%) opacity(90%);
}

.modal-overlay {
  position: fixed;
  top: 3em;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -100;
  -webkit-transition: background-color .15s ease-in;
  -moz-transition: background-color .15s ease-in;
  -ms-transition: background-color .15s ease-in;
  -o-transition: background-color .15s ease-in;
  transition: background-color .15s ease-in;
}

.modal-overlay.show {
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.2);
}

.nav {
  cursor: default;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 3em;
  padding: .5em 0;
  z-index: 0;
  background: #1f1e1c;
}

.nav .nav-list {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 3em;
  font-family: "Rhodium Libre", serif;
  margin: 0;
  overflow: hidden;
  z-index: 10;
}

.nav .nav-title {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  font-size: 2em;
  text-align: center;
  margin: auto;
  font-family: "Rhodium Libre", serif;
  z-index: 1;
}

.nav .nav-title .nav-en {
  color: white;
}

.nav .nav-title .nav-course {
  color: #0057A7;
}

.nav .nav-options {
  float: right;
  display: flex;
  position: relative;
  width: 6em;
  cursor: pointer;
  z-index: 10;
}

.nav .nav-options .nav-settings {
  float: right;
  width: 48px;
  width: 3rem;
  height: 48px;
  height: 3rem;
  padding: .5em .5em;
}

.nav .nav-options .nav-settings img {
  width: 100%;
  height: 100%;
}

.nav .nav-options .nav-logout {
  float: right;
  width: 48px;
  width: 3rem;
  height: 48px;
  height: 3rem;
  padding: .5em .5em;
}

.nav .nav-options .nav-logout img {
  width: 100%;
  height: 100%;
}

/* rhodium-libre-regular - latin */
.panel {
  position: fixed;
  left: 0;
  top: 48px;
  top: 3rem;
  height: calc(100% - 48px);
  height: calc(100% - 3rem);
  width: 100%;
  font-family: "Raleway", "Rhodium Libre", sans-serif;
  color: #1f1f1f;
  overflow: auto;
  text-align: left;
}

.panel::-webkit-scrollbar {
  width: .5em;
}

.panel::-webkit-scrollbar-thumb {
  background: #666;
}

.panel-container {
  position: relative;
  max-width: 1680px;
  max-width: 105rem;
  width: 100%;
  margin: 32px auto;
  margin: 2rem auto;
}

.panel-container > div:after {
  content: "";
  display: block;
  height: 0;
  clear: both;
}

.panel-left-nav {
  position: fixed;
  left: 50%;
  -webkit-transform: translate(-334%, 0);
  -moz-transform: translate(-334%, 0);
  -ms-transform: translate(-334%, 0);
  -o-transform: translate(-334%, 0);
  transform: translate(-334%, 0);
  max-width: 252px;
  max-width: 15.75rem;
  width: 15%;
  padding: 0;
  margin: 0;
}

.panel-left-nav:after {
  content: "";
  display: block;
  height: 0;
  clear: both;
}

.panel-center-content {
  position: relative;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
  -moz-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  -o-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
  width: 70%;
  height: 100%;
  margin: 0;
  padding: 0 20px;
}

.panel-right-nav {
  position: fixed;
  left: 50%;
  -webkit-transform: translate(233%, 0);
  -moz-transform: translate(233%, 0);
  -ms-transform: translate(233%, 0);
  -o-transform: translate(233%, 0);
  transform: translate(233%, 0);
  max-width: 252px;
  max-width: 15.75rem;
  width: 15%;
  padding: 0;
  margin: 0;
}

.panel-right-nav:after {
  content: "";
  display: block;
  height: 0;
  clear: both;
}

.progress-bar {
  border: 1px solid #a4a4a4;
  width: 100%;
  height: 1em;
  position: relative;
}

.progress-bar div {
  padding: 1px;
  width: 0;
  height: 100%;
  background: #4caf50;
  -webkit-transition: width .33s ease;
  -moz-transition: width .33s ease;
  -ms-transition: width .33s ease;
  -o-transition: width .33s ease;
  transition: width .33s ease;
}

.summary-container .float-height > div {
  float: left;
  padding: 12px;
}

.summary-container .cols-5 > div {
  width: 227px;
}

.summary-container .cols-2 > div {
  width: 50%;
}

div.title {
  position: relative;
}

div.title h1, div.title h2, div.title h3, div.title h4, div.title h5, div.title h6 {
  margin: 0;
  width: 100%;
}

div.title img {
  position: absolute;
  top: 0;
  right: 0;
  width: 16px;
  width: 1rem;
  height: 16px;
  height: 1rem;
}

.top-nav {
  height: 64px;
  height: 4rem;
}

.side-nav-left {
  float: right;
  width: 100%;
  min-width: 180px;
  max-width: 240px;
  margin-bottom: 32px;
}

.side-nav-right {
  float: left;
  width: 100%;
  min-width: 180px;
  max-width: 240px;
  margin-bottom: 32px;
}

.projects-nav .top-nav img {
  width: 24px;
  width: 1.5rem;
  height: 24px;
  height: 1.5rem;
  margin-top: 20px;
  margin-top: 1.25rem;
  float: right;
}

.projects-nav .top-nav h3 {
  margin-top: 21.6px;
  margin-top: 1.35rem;
  float: right;
}

.projects-nav .card {
  width: 100%;
}

.projects-nav .card .component {
  width: 100%;
}

.projects-nav .projects-highlight {
  color: #1f1e1ccc;
  background-image: linear-gradient(to right, #e8e8e800, #0057A755 100%);
}

.projects-nav .projects-new img {
  width: 20px;
  width: 1.25rem;
  height: 20px;
  height: 1.25rem;
}

.panel-course .course-students .float-height * {
  cursor: pointer;
}

.panel-course .course-students .card:hover .component {
  background-color: #F0F0F0;
}

.student-preview {
  position: relative;
  width: 160px;
  width: 10rem;
  height: 120px;
  height: 7.5rem;
  margin: 5.5px;
}

.student-preview-commits {
  margin-bottom: 10px;
}

.student-preview-commits h5 {
  margin-bottom: 5px;
}

.student-preview-progress {
  position: relative;
}

.student-preview-progress .progress-text {
  position: absolute;
  top: -20px;
  top: -1.25rem;
  right: 0;
  color: #1f1f1f;
  font-size: 12px;
  font-size: 0.75rem;
}

.test-scripts-list {
  width: 100%;
  height: 331px;
  overflow-y: auto;
  overflow-x: hidden;
}

.test-scripts-list .scripts-new {
  padding: .75em;
  cursor: pointer;
}

.test-scripts-list .scripts-new img {
  width: 1.5em;
  height: 1.5em;
  margin: 0 auto;
  display: block;
  filter: invert(88%) sepia(1%) saturate(2264%) hue-rotate(2deg) brightness(87%) contrast(97%) opacity(66%);
}

.test-scripts-list .scripts-new:hover img {
  filter: invert(88%) sepia(1%) saturate(2264%) hue-rotate(2deg) brightness(87%) contrast(97%) opacity(90%);
}

.test-scripts-list .scripts-script {
  float: left;
  width: 100%;
}

.test-scripts-list .scripts-script .script-filename {
  cursor: pointer;
  float: left;
  width: calc(100% - 7.5em);
  padding: .75em;
}

.test-scripts-list .scripts-script .script-filename img {
  width: 1.5em;
  height: 1.5em;
  float: left;
  filter: invert(88%) sepia(1%) saturate(2264%) hue-rotate(2deg) brightness(87%) contrast(97%) opacity(66%);
}

.test-scripts-list .scripts-script .script-filename h4 {
  float: left;
  margin: 0;
}

.test-scripts-list .scripts-script .script-filename:hover {
  padding-left: calc(.75em + 3px);
}

.test-scripts-list .scripts-script .script-filename:hover img {
  filter: invert(88%) sepia(1%) saturate(2264%) hue-rotate(2deg) brightness(87%) contrast(97%) opacity(90%);
}

.test-scripts-list .scripts-script input {
  width: 3em;
  height: 2em;
  margin: 12px;
  float: right;
}

.test-scripts-list .scripts-script .script-delete {
  padding: .75em;
  width: 3em;
  height: 3em;
  float: right;
}

.test-scripts-list .scripts-script .script-delete img {
  width: 1.5em;
  height: 1.5em;
  float: right;
  cursor: pointer;
  filter: invert(88%) sepia(1%) saturate(2264%) hue-rotate(2deg) brightness(87%) contrast(97%) opacity(66%);
}

.test-scripts-list .scripts-script .script-delete:hover img {
  filter: invert(88%) sepia(1%) saturate(2264%) hue-rotate(2deg) brightness(87%) contrast(97%) opacity(90%);
}

.panel-project-options {
  float: left;
  height: 440px;
  width: 245px;
}

.panel-project-options .header {
  margin-top: 20px;
  margin-bottom: 5px;
}

.panel-project-options .project-options-scripts {
  margin-top: 5px;
}

.panel-project-options .project-options-scripts h4 {
  margin: 0;
  padding: .75em 0;
  cursor: pointer;
}

.panel-project-options .project-options-scripts h4:hover {
  color: #1f1e1c99;
  padding: 0.75em 0 0.75em calc(3px);
}

.commits-container .commits .float-height {
  max-height: 280px;
}

.commits-container .commits .float-height .card {
  padding: 3px;
  margin-bottom: 12px;
}

.commits-container .commits .float-height .component {
  background: white;
}

.student-stats-comments {
  position: relative;
}

.student-stats-comments .card {
  float: left;
  margin: 0;
}

.student-stats-comments .card:first-child {
  width: 33.5%;
  padding-right: 32px;
}

.student-stats-comments .card:nth-child(2) {
  width: 66.5%;
  height: 100%;
}

.student-stats-comments .component {
  width: 100%;
}

.student-stats-container div.student-stat {
  padding: 8px 0 8px 8px;
}

.student-stats-container div.student-stat h5:first-child {
  width: auto;
  float: left;
}

.student-stats-container div.student-stat h5:nth-child(2) {
  width: auto;
  float: right;
}

.student-stats-container div.student-stat:nth-child(2n) {
  padding-bottom: 16px;
}

/*
.panel-student-side-content {
  position:fixed;
  padding-top: calc(20px + 1.17em + 40px);
  width: calc(.15 * 105em - 40px);
  min-width: 180px;
  max-width: 240px;

  .card {
    margin: 0 0 30px;
    width: 100%;
  }

  .component {
    width: 100%;
  }

  .student-commits {
    max-height: 280px;

    .card {
      padding: 3px;
    }

    .component {
      background: white;
    }
  }
}*/
.panel-preference-content .panel-course-students > .title {
  cursor: pointer;
}

.panel-preference-content .panel-course-students > .title h3 {
  float: left;
  width: auto;
  padding-top: .4em;
}

.panel-preference-content .panel-course-students > .title img {
  width: 3em;
  height: 3em;
  float: left;
  padding: .25em 1em 1em;
  filter: invert(88%) sepia(1%) saturate(2264%) hue-rotate(2deg) brightness(87%) contrast(97%) opacity(66%);
}

.panel-preference-content .panel-course-students .student-preview h4:not(.break-line) {
  margin: 0;
}

.panel-preference-content .panel-course-students .student-preview h5 {
  margin: 0;
}

.panel-preference-content .panel-course-students .account-preview {
  position: relative;
  width: 10em;
  height: 8.5em;
}

.panel-preference-content .panel-course-students .account-preview h4:not(.break-line) {
  margin: 0;
}

.panel-preference-content .panel-course-students .account-preview h5 {
  margin: 0;
}
