@import "Navbar";
@import "Panel";
@import "Card";

.h2-size {
  font-size: 1.5em;
}

.h3-size {
  font-size: 1.33em;
}

.break-line {
  width: 100%;
  height: 1px;
  background-color: #1f1f1f33;
}

h3.break-line {
  margin: 20px 0;
}

h3.break-line.title {
  margin-top: 5px;
  margin-bottom: 20px;
}

.header {
  margin-bottom: 5px;
}

input {
  width: 100%;
}

table {
  border-collapse: collapse;
}

.Modal {
  .Background {
    position:fixed;
    top: 0;
    left: 0;
    width:100%;
    height:100%;
    background-size:cover;
    -webkit-filter: blur(4px);
    -moz-filter: blur(4px);
    -ms-filter: blur(4px);
    -o-filter: blur(4px);
    filter: blur(4px);
  }
}