.panel-course {
  .course-students {
    .float-height * {
      cursor:pointer;
    }

    .card:hover .component {
      background-color: #F0F0F0;
    }
  }

  .course-modal {
    .modal-container {
      width: 250px;
    }
  }
}

@import "util/student-preview";