
.panel-preference-content {
  .panel-course-students {
    > .title {
      cursor:pointer;

      h3 {
        float:left;
        width: auto;
        padding-top: .4em;
      }

      img {
        width: 3em;
        height: 3em;
        float:left;
        padding: .25em 1em 1em;
        filter: invert(88%) sepia(1%) saturate(2264%) hue-rotate(2deg) brightness(87%) contrast(97%) opacity(66%);
      }
    }

    .student-preview {
      h4:not(.break-line) {
        margin: 0;
      }
      h5 {
        margin: 0;
      }
    }

    .account-preview {
      position: relative;
      width:10em;
      height:8.5em;

      h4:not(.break-line) {
        margin: 0;
      }
      h5 {
        margin: 0;
      }
    }
  }
}