@import "../navigation/project-nav";
@import "util/test-scripts";



.panel-project-options {
  float:left;
  height: 440px; //TODO Calc() instead
  width: 245px; //TODO Calc() instead

  .header {
    margin-top: 20px;
    margin-bottom: 5px;
  }

  .project-options-scripts {
    margin-top: 5px;
    h4 {
      margin: 0;
      padding: .75em 0;
      cursor: pointer;
    }

    h4:hover {
      color: #1f1e1c99;
      padding: .75em 0 .75em calc(3px);
    }
  }
}