@import "util/commit-history";

.student-stats-comments {

  position:relative;

  .card {
    float:left;
    margin: 0;
  }

  .card:first-child {
    width: 33.5%;
    padding-right: 32px;
  }

  .card:nth-child(2) {
    width:66.5%;
    height: 100%;
  }

  .component {
    width:100%;
  }
}