@import "util/commit-history";

.student-stats-comments {

  position:relative;

  .card {
    float:left;
    margin: 0;
  }

  .card:first-child {
    width: 33.5%;
    padding-right: 32px;
  }

  .card:nth-child(2) {
    width:66.5%;
    height: 100%;
  }

  .component {
    width:100%;
  }
}

.student-stats-container {

  div.student-stat {
    padding: 8px 0 8px 8px;

    h5:first-child {
      width:auto;
      float:left;
    }

    h5:nth-child(2) {
      width: auto;
      float:right;
    }
  }

  div.student-stat:nth-child(2n) {
    padding-bottom: 16px;
  }
}