
.panel-student-content, .panel-student-side-content{
  -webkit-transition: filter .15s ease-in;
  -moz-transition: filter .15s ease-in;
  -ms-transition: filter .15s ease-in;
  -o-transition: filter .15s ease-in;
  transition: filter .15s ease-in;
}

.panel-student-content .student-stats-comments {

  position:relative;

  .card {
    margin: 0;
  }

  .card:first-child {
    width: 33.5%;
    padding-right: 32px;
  }

  .card:nth-child(2) {
    width:66.5%;
    height: 100%;
  }

  .component {
    width:100%;
  }
}

.student-stats-container {

  div.student-stat {
    padding: 8px 0 8px 8px;

    h5:first-child {
      width:auto;
      float:left;
    }

    h5:nth-child(2) {
      width: auto;
      float:right;
    }
  }

  div.student-stat:nth-child(2n) {
    padding-bottom: 16px;
  }
}

.panel-student-side-content {
  position:fixed;
  padding-top: calc(20px + 1.17em + 40px);
  width: calc(.15 * 105em - 40px);
  min-width: 180px;
  max-width: 240px;

  .card {
    margin: 0 0 30px;
    width: 100%;
  }

  .component {
    width: 100%;
  }

  .student-commits {
    max-height: 280px;

    .card {
      padding: 3px;
    }

    .component {
      background: white;
    }
  }
}