@import "../../helpers";

.student-preview {
  position: relative;
  @include set-rem-safe(height, 7.5rem);
  margin: 5.5px;
}

.student-preview-commits {
  margin-bottom: 10px;

  h5 {
    margin-bottom: 5px;
    display:block;
  }
}

.student-preview-progress {
  position: relative;

  .progress-text {
    position:absolute;
    @include set-rem-safe(top, -1.25rem);
    right: 0;

    color: #1f1f1f;
    @include set-rem-safe(font-size, .75rem);
  }
}