.Course-Panel {
  font-family: "Rhodium Libre", serif;
  color: #1f1e1caa;
  text-align:left;
  font-weight: bold;

  br {
    width: 100%;
    height: 3px;
    background: #E8E8E8;
  }
}

.Course-Settings {
  background: #F8F8F8;
  border: 1px solid #E8E8E8;
  border-radius: 4px;
  min-height: 20px;
  font-size: 1em;

  .Projects {
    width: calc(100% - 40px);
    margin: 20px;
    cursor: context-menu;

    tr.Project:hover {
      margin: 10px 2em;
      width: calc(100% - 4em);
      background-image: linear-gradient(to right,
              #e8e8e800,
              #E8E8E8FF 2.5%,
              #E8E8E8FF 97.5%,
              #E8E8E800 100%
      );
      cursor:pointer;
    }
  }
}