.Navbar {
  cursor: default;
  position: fixed;
  top:0;
  left: 0;
  width:100%;
  height:2em;
  padding: .33em 0;
  z-index: 0;
  background: #1f1e1c;
  box-shadow: 0 0 3px 3px rgba(0, 0, 0, .3);

  .NavList {
    position: fixed;
    top:0;
    left: 0;
    width:100%;
    height:2em;
    padding: .33em 0;
    font-family: "Rhodium Libre", serif;
    margin: 0;

    overflow: hidden;
    z-index: 10;
  }

  .EnCourse-Title {
    position: fixed;
    top:0;
    left: 0;
    width:100%;
    font-size: 1.75em;
    text-align: center;
    margin: auto;
    font-family: "Rhodium Libre", serif;
    z-index: 1;

    .En {
      color: white;
    }

    .Course {
      color: #0057A7;
    }
  }

  .Options {
    float: right;
    display: flex;
    position:relative;

    width: 5.6em;
    margin-right: .5em;
    cursor: pointer;
    z-index: 10;

    .Settings {
      float:right;
      width: 2em;
      height: 2em;
      margin: 0 .5em;

      img {
        width: 100%;
        height: 100%;
      }
    }

    .Logout {
      float:right;
      width: 2em;
      height: 2em;
      margin: 0 .5em;

      img {
        width: 100%;
        height: 100%;
      }
    }
  }
}